<!DOCTYPE html>
<div class="container">

  <form name="myForm" ng-controller="Cars as vm">
    <label>Single word:</label>
    <input type="text" name="input" ng-model="vm.example.text"
           ng-pattern="vm.example.word" required ng-trim="false">
    <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single word only!</span>
    </div>
    <span>text = {{vm.example.text}}</span><br/>
    <span>myForm.input.$valid = {{myForm.input.$valid}}</span><br/>
    <span>myForm.input.$error = {{myForm.input.$error}}</span><br/>
    <span>myForm.$valid = {{myForm.$valid}}</span><br/>
    <span>myForm.$error.required = {{!!myForm.$error.required}}</span><br/>
    <button type="button" class="btn btn-primary" ng-disabled="myForm.input.$invalid">
      Single Toggle
    </button>
    <ul >
      <li ng-repeat="car in vm.cars"> {{ car.content }} </li>
    </ul>
    <button type="button" class="btn btn-primary" ng-disabled="myForm.input.$invalid"
            ng-click="vm.getCars()">
      Get cars
    </button>
    <button type="button" class="btn btn-primary" ng-disabled="myForm.input.$invalid"
            ng-click="vm.getCar()">
      Get car
    </button>
    <button type="button" class="btn btn-primary" ng-disabled="myForm.input.$invalid"
            ng-click="vm.getResolvedPromise()">
      Get resolved promise
    </button>
  </form>

  <label>controller as directive:</label>
  <controller-as-directive>

  </controller-as-directive>

  <label>controller directive:</label>
  <controller-directive>

  </controller-directive>
</div>
