<!DOCTYPE html>
<div class="container" ng-controller="UsersController as vm">
  <div>title = {{vm.emitFact.title}}</div>
  <div>fact = {{vm.emitFact.fact}}</div>
  <button type="button" class="btn btn-primary" ng-click="vm.getRootScopeBroadcast()">
    $rootScope.$broadcast
  </button>

  <button type="button" class="btn btn-primary" ng-click="vm.getScopeBroadcast()">
    $scope.$broadcast
  </button>

  <div class="container" ng-controller="UsersChildController as vm">
    <div>name = {{vm.broadcastUser.name}}</div>
    <div>lastname = {{vm.broadcastUser.lastName}}</div>
    <div>city = {{vm.broadcastUser.city}}</div>

    <button type="button" class="btn btn-primary" ng-click="vm.getEmit()">
      $scope.$emit fact
    </button>
    <br>
    <button type="button" class="btn btn-primary" ng-click="vm.broadcastToSencondChild()">
      $scope.$broadcast and $rootScope.$broadcast to second child
    </button>
  </div>
  <div class="container" ng-controller="UsersSecondChildController as vm">
    <br>
    <label>secondchild $scope.$on listening for $rootScope.$broadcast from UsersChildController:</label>
    <br>
    <div>name = {{vm.rootScopeBroadcastUser.name}}</div>
    <div>lastname = {{vm.rootScopeBroadcastUser.lastName}}</div>
    <div>city = {{vm.rootScopeBroadcastUser.city}}</div>

    <br>
    <label>secondchild $scope.$on listening for $scope.$broadcast from UsersChildController, same level never works:</label>
    <br>
    <div>name = {{vm.scopeBroadcastUser.name}}</div>
    <div>lastname = {{vm.scopeBroadcastUser.lastName}}</div>
    <div>city = {{vm.scopeBroadcastUser.city}}</div>

  </div>

</div>
